# Exploratory Data Analysis
Familiarize with the dataset, we'll try to target question 3. Recall the
question asks "do periods with low meat production track with overall
unemployment numbers?"

## Environment Setup
Load modules, data.

In [2]:
# modules
## external
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## stdlib
from pathlib import Path
from typing import Any, Callable

## utils

In [3]:
# load in datasets
home_dir = Path().cwd().parent                                                  # github repo home dir

## financial data
economic_df = pd.read_csv(
    home_dir / "datasets" / "acs_5yr_est_selected_economic_characteristics_2010-2022.csv",
    engine="c", low_memory=False
)
commodities_df = pd.read_csv(
    home_dir / "datasets" / "all_commodities.csv",
    engine="c", low_memory=False
)
stocks_df = pd.read_csv(
    home_dir / "datasets" / "all_stock_and_etfs.csv",
    engine="c", low_memory=False
)
stock_descr_df = pd.read_csv(
    home_dir / "datasets" / "stock_descriptions.csv",
    engine="c", low_memory=False
)

## meat data
meat_storage_df = pd.read_csv(
    home_dir / "datasets" / "Meat_Stats_Cold_Storage.csv", engine="c",
    low_memory=False
)
meat_production_df = pd.read_csv(
    home_dir / "datasets" / "Meat_Stats_Meat_Production.csv", engine="c",
    low_memory=False
)
meat_slaughter_weights_df = pd.read_csv(
    home_dir / "datasets" / "Meat_Stats_Slaughter_Counts.csv", engine="c",
    low_memory=False
)
meat_slaughter_counts_df = pd.read_csv(
    home_dir / "datasets" / "Meat_Stats_Slaughter_Weights.csv", engine="c",
    low_memory=False
)
nutrition_df = pd.read_csv(
    home_dir / "datasets" / "Nutrition_Physical_Activity_and_Obesity_Data.csv", 
    engine="c", low_memory=False
)

# generate lookup for easy replication downstream
dfs = {
    "economic": economic_df,
    "commodities": commodities_df,
    "stocks": stocks_df,
    "stock_descr": stock_descr_df,
    "meat_storage": meat_storage_df,
    "meat_production": meat_production_df,
    "meat_slaughter_weights": meat_slaughter_weights_df,
    "meat_slaughter_counts": meat_slaughter_counts_df,
    "nutrition": nutrition_df
}

## Exploratory Analysis
Distributions, plots, etc.

In [4]:
# auxiliary fn for easy application
def apply_dfs(dfs: dict[str, pd.DataFrame], fn: Callable) -> dict[str, Any]:
    """Applies fn to all dfs in the lookup.

    Args:
        dfs (dict[str, pd.DataFrame]): lookup
        fn (Callable): function to apply, df is passed as the first parameter

    Returns:
        dict[str, Any]: same keys to the output of the function
    """
    
    return {df_type: fn(df) for df_type, df in dfs.items()}

def pprint_dfs(dfs: dict[str, pd.DataFrame]) -> None:
    """Pretty printing for the dfs lookup.

    Args:
        dfs (dict[str, pd.DataFrame]): lookup
    """
    
    for df_type, df in dfs.items():
        print(f"< ::::::: {df_type.replace('_', ' ').capitalize()} ::::::: >")
        print(df)
        print("\n\n")

In [5]:
# inspection
## inspect rows
pprint_dfs(
    apply_dfs(dfs, pd.DataFrame.head)
)

## inspect distributions
pprint_dfs(
    apply_dfs(dfs, pd.DataFrame.describe)
)

## inspect metadata
apply_dfs(dfs, pd.DataFrame.info)

< ::::::: Economic ::::::: >
               Label (Grouping)           Category    State   Estimate  \
0             EMPLOYMENT STATUS             Header  Alabama        NaN
1  Population 16 years and over  EMPLOYMENT STATUS  Alabama  3,714,504
2                In labor force  EMPLOYMENT STATUS  Alabama  2,246,848
3          Civilian labor force  EMPLOYMENT STATUS  Alabama  2,230,879
4                      Employed  EMPLOYMENT STATUS  Alabama  2,036,867

  Margin of Error    Percent Percent Margin of Error  Year
0             NaN        NaN                     NaN  2010
1          ±1,588  3,714,504                     (X)  2010
2          ±5,576      60.5%                    ±0.1  2010
3          ±5,531      60.1%                    ±0.1  2010
4          ±5,904      54.8%                    ±0.2  2010



< ::::::: Commodities ::::::: >
    Date-Time       Value             Unit Commodity
0  2024-01-01  203.879130  Cents per Pound    Coffee
1  2023-12-01  210.310476  Cents per Pound    Coffee
2  2023-11-01  197.433182  Cents per Pound    Coffee
3  2023-10-01  183.951364  Cents per Pound    Coffee
4  2023-09-01  183.589048  Cents per Pound    Coffee



< ::::::: Stocks ::::::: >
    Date-Time   Open     High      Low  Close   Volume Ticker_Symbol
0  2024-02-20  29.09  29.7100  29.0001  29.44  2673889           HRL
1  2024-02-16  29.01  29.1700  28.7650  28.99  5655091           HRL
2  2024-02-15  28.94  29.2210  28.8500  29.11  2380372           HRL
3  2024-02-14  28.76  28.8254  28.5100  28.80  2690379           HRL
4  2024-02-13  29.56  29.8000  28.6350  28.72  4173650           HRL



< ::::::: Stock descr ::::::: >
  Symbol     AssetType                                 Name  \
0    QSR  Common Stock  Restaurant Brands International Inc
1    ALG  Common Stock                      Alamo Group Inc
2   SBUX  Common Stock                Starbucks Corporation
3    CAG  Common Stock                    ConAgra Foods Inc
4    HRL  Common Stock             Hormel Foods Corporation

                                         Description            Sector  \
0  Restaurant Brands International Inc. owns, ope...  TRADE & SERVICES
1  Alamo Group Inc. designs, manufactures, distri...        TECHNOLOGY
2  Starbucks Corporation is an American multinati...  TRADE & SERVICES
3  Conagra Brands, Inc. (formerly ConAgra Foods) ...     MANUFACTURING
4  Hormel Foods Corporation is an American compan...     MANUFACTURING

                          Industry
0             RETAIL-EATING PLACES
1       FARM MACHINERY & EQUIPMENT
2  RETAIL-EATING & DRINKING PLACES
3        FOOD AND KINDRED PRODUCTS
4              MEAT PACKING PLANTS



< ::::::: Meat storage ::::::: >
       Date  Year  Month            Unit Animal  Weight Type_Of_Meat
0  Dec-2023  2023     12  Million Pounds   Beef  457.41     Red Meat
1  Nov-2023  2023     11  Million Pounds   Beef  445.67     Red Meat
2  Oct-2023  2023     10  Million Pounds   Beef  420.85     Red Meat
3  Sep-2023  2023      9  Million Pounds   Beef  395.40     Red Meat
4  Aug-2023  2023      8  Million Pounds   Beef  410.46     Red Meat



< ::::::: Meat production ::::::: >
       Date  Year  Month            Unit Production Animal  \
0  Dec-2023  2023     12  Million Pounds   2,189.80   Beef
1  Nov-2023  2023     11  Million Pounds   2,280.90   Beef
2  Oct-2023  2023     10  Million Pounds   2,340.90   Beef
3  Sep-2023  2023      9  Million Pounds   2,149.40   Beef
4  Aug-2023  2023      8  Million Pounds   2,363.50   Beef

  Commercial or Federally Inspected Type of Meat
0                        Commercial     Red Meat
1                        Commercial     Red Meat
2                        Commercial     Red Meat
3                        Commercial     Red Meat
4                        Commercial     Red Meat



< ::::::: Meat slaughter weights ::::::: >
       Date  Year  Month        Unit  Animal     Count  \
0  Dec-2023  2023     12  1,000 Head  Cattle  2,593.40
1  Nov-2023  2023     11  1,000 Head  Cattle  2,729.90
2  Oct-2023  2023     10  1,000 Head  Cattle  2,826.00
3  Sep-2023  2023      9  1,000 Head  Cattle  2,610.60
4  Aug-2023  2023      8  1,000 Head  Cattle  2,890.00

  Commercial_Or_Federally_Inspected Type_Of_Meat
0                        Commercial     Red Meat
1                        Commercial     Red Meat
2                        Commercial     Red Meat
3                        Commercial     Red Meat
4                        Commercial     Red Meat



< ::::::: Meat slaughter counts ::::::: >
       Date  Year  Month                      Unit  Animal    Weight  \
0  Dec-2023  2023     12  Average Weight in Pounds  Cattle  1,401.00
1  Nov-2023  2023     11  Average Weight in Pounds  Cattle  1,387.00
2  Oct-2023  2023     10  Average Weight in Pounds  Cattle  1,374.00
3  Sep-2023  2023      9  Average Weight in Pounds  Cattle  1,362.00
4  Aug-2023  2023      8  Average Weight in Pounds  Cattle  1,350.00

  Commercial_Or_Federally_Inspected Live_Or_Dressed Type_Of_Meat
0                        Commercial            Live     Red Meat
1                        Commercial            Live     Red Meat
2                        Commercial            Live     Red Meat
3                        Commercial            Live     Red Meat
4                        Commercial            Live     Red Meat



< ::::::: Nutrition ::::::: >
   YearStart  YearEnd LocationAbbr          LocationDesc  \
0       2019     2019           AK                Alaska
1       2019     2019           AZ               Arizona
2       2019     2019           DC  District of Columbia
3       2019     2019           IL              Illinois
4       2019     2019           MD              Maryland

                                Datasource                    Class  \
0  Youth Risk Behavior Surveillance System        Physical Activity
1  Youth Risk Behavior Surveillance System  Obesity / Weight Status
2  Youth Risk Behavior Surveillance System  Obesity / Weight Status
3  Youth Risk Behavior Surveillance System        Physical Activity
4  Youth Risk Behavior Surveillance System  Obesity / Weight Status

                          Topic  \
0  Physical Activity - Behavior
1       Obesity / Weight Status
2       Obesity / Weight Status
3  Physical Activity - Behavior
4       Obesity / Weight Status

                                            Question  Data_Value_Unit  \
0  Percent of students in grades 9-12 who achieve...              NaN
1  Percent of students in grades 9-12 who have ob...              NaN
2  Percent of students in grades 9-12 who have ob...              NaN
3  Percent of students in grades 9-12 who partici...              NaN
4  Percent of students in grades 9-12 who have an...              NaN

  Data_Value_Type  ...                        GeoLocation  ClassID TopicID  \
0           Value  ...  (64.845079957001, -147.722059036)       PA     PA1
1           Value  ...      (34.86597028, -111.763811277)      OWS    OWS1
2           Value  ...      (38.890371385, -77.031961127)      OWS    OWS1
3           Value  ...      (40.485010283, -88.997710178)       PA     PA1
4           Value  ...      (39.290580964, -76.609260111)      OWS    OWS1

  QuestionID  DataValueTypeID  LocationID  StratificationCategory1  \
0       Q048            VALUE           2           Race/Ethnicity
1       Q038            VALUE           4                    Total
2       Q038            VALUE          11                    Total
3       Q049            VALUE          17                    Grade
4       Q039            VALUE          24           Race/Ethnicity

   Stratification1 StratificationCategoryId1 StratificationID1
0            Asian                      RACE           RACEASN
1            Total                       OVR           OVERALL
2            Total                       OVR           OVERALL
3             10th                     GRADE           GRADE10
4  2 or more races                      RACE         RACE2PLUS

[5 rows x 34 columns]



< ::::::: Economic ::::::: >
               Year
count  98020.000000
mean    2016.000000
std        3.741676
min     2010.000000
25%     2013.000000
50%     2016.000000
75%     2019.000000
max     2022.000000



< ::::::: Commodities ::::::: >
             Value
count  1227.000000
mean    103.891224
std      82.327954
min       5.111200
25%      16.978263
50%     102.555237
75%     158.601701
max     348.507117



< ::::::: Stocks ::::::: >
                Open           High            Low          Close  \
count  163557.000000  163557.000000  163557.000000  163557.000000
mean       99.153982     100.133469      98.143492      99.165672
std       155.184833     156.811855     153.550459     155.210655
min         0.170000       0.280000       0.140000       0.150000
25%        31.250000      31.680000      30.860000      31.270000
50%        57.050000      57.640000      56.440000      57.040000
75%       108.600000     109.520000     107.690000     108.640000
max      2678.050000    2725.830000    2616.010000    2666.990000

             Volume
count  1.635570e+05
mean   6.387211e+06
std    2.684753e+07
min    0.000000e+00
25%    4.903750e+05
50%    1.555558e+06
75%    3.731441e+06
max    8.710263e+08



< ::::::: Stock descr ::::::: >
       Symbol     AssetType                                 Name  \
count      31            31                                   31
unique     31             2                                   31
top       QSR  Common Stock  Restaurant Brands International Inc
freq        1            27                                    1

                                              Description         Sector  \
count                                                  31             31
unique                                                 31              4
top     Restaurant Brands International Inc. owns, ope...  MANUFACTURING
freq                                                    1             12

                    Industry
count                     31
unique                    17
top     RETAIL-EATING PLACES
freq                       5



< ::::::: Meat storage ::::::: >
              Year        Month       Weight
count  3936.000000  3936.000000  3606.000000
mean   2003.000000     6.500000   227.456872
std      11.833663     3.452491   249.905138
min    1983.000000     1.000000     0.890000
25%    1993.000000     3.750000     9.092500
50%    2003.000000     6.500000    35.910000
75%    2013.000000     9.250000   438.560000
max    2023.000000    12.000000   945.980000



< ::::::: Meat production ::::::: >
               Year         Month
count  13595.000000  13595.000000
mean    1972.003751      6.500405
std       29.731107      3.451984
min     1921.000000      1.000000
25%     1946.000000      4.000000
50%     1972.000000      7.000000
75%     1998.000000      9.500000
max     2023.000000     12.000000



< ::::::: Meat slaughter weights ::::::: >
               Year         Month
count  15283.000000  15283.000000
mean    2002.957404      6.511156
std       11.858243      3.457530
min     1982.000000      1.000000
25%     1993.000000      4.000000
50%     2003.000000      7.000000
75%     2013.000000     10.000000
max     2023.000000     12.000000



< ::::::: Meat slaughter counts ::::::: >
              Year        Month
count  9348.000000  9348.000000
mean   2003.000000     6.500000
std      11.832792     3.452237
min    1983.000000     1.000000
25%    1993.000000     3.750000
50%    2003.000000     6.500000
75%    2013.000000     9.250000
max    2023.000000    12.000000



< ::::::: Nutrition ::::::: >
           YearStart        YearEnd  Data_Value_Unit     Data_Value  \
count  133345.000000  133345.000000              0.0  113474.000000
mean     2014.792178    2014.792178              NaN      29.949246
std         4.627773       4.627773              NaN      10.982698
min      2001.000000    2001.000000              NaN       0.000000
25%      2012.000000    2012.000000              NaN      21.800000
50%      2015.000000    2015.000000              NaN      30.100000
75%      2019.000000    2019.000000              NaN      36.900000
max      2022.000000    2022.000000              NaN      81.900000

       Data_Value_Alt  Low_Confidence_Limit  High_Confidence_Limit  \
count   113474.000000         113474.000000          113474.000000
mean        29.949246             25.582091              34.938300
std         10.982698             10.596528              11.917296
min          0.000000              0.000000               0.000000
25%         21.800000             17.500000              26.300000
50%         30.100000             25.600000              35.000000
75%         36.900000             32.600000              42.200000
max         81.900000             75.800000              89.600000

         Sample_Size     LocationID
count  113474.000000  133345.000000
mean     3048.032501      30.734261
std     16157.532701      17.343154
min        50.000000       1.000000
25%       453.000000      17.000000
50%       969.000000      30.000000
75%      2097.000000      45.000000
max    476876.000000      78.000000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98020 entries, 0 to 98019
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label (Grouping)         98020 non-null  object
 1   Category                 98020 non-null  object
 2   State                    98020 non-null  object
 3   Estimate                 92612 non-null  object
 4   Margin of Error          92612 non-null  object
 5   Percent                  92612 non-null  object
 6   Percent Margin of Error  92612 non-null  object
 7   Year                     98020 non-null  int64
dtypes: int64(1), object(7)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227 entries, 0 to 1226
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date-Time  1227 non-null   object
 1   Value      1227 non-null   float64
 2   Unit       819 non-null    object
 3   Commodity  819 non-null    object
dtypes: float64(1), object(3)
memory usage: 38.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163557 entries, 0 to 163556
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date-Time      163557 non-null  object
 1   Open           163557 non-null  float64
 2   High           163557 non-null  float64
 3   Low            163557 non-null  float64
 4   Close          163557 non-null  float64
 5   Volume         163557 non-null  int64
 6   Ticker_Symbol  163557 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 8.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Symbol       31 non-null     object
 1   AssetType    31 non-null     object
 2   Name         31 non-null     object
 3   Description  31 non-null     object
 4   Sector       31 non-null     object
 5   Industry     31 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3936 non-null   object
 1   Year          3936 non-null   int64
 2   Month         3936 non-null   int64
 3   Unit          3936 non-null   object
 4   Animal        3936 non-null   object
 5   Weight        3606 non-null   float64
 6   Type_Of_Meat  3936 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 215.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13595 entries, 0 to 13594
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               13595 non-null  object
 1   Year                               13595 non-null  int64
 2   Month                              13595 non-null  int64
 3   Unit                               13595 non-null  object
 4   Production                         9620 non-null   object
 5   Animal                             13595 non-null  object
 6   Commercial or Federally Inspected  13595 non-null  object
 7   Type of Meat                       13595 non-null  object
dtypes: int64(2), object(6)
memory usage: 849.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15283 entries, 0 to 15282
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               15283 non-null  object
 1   Year                               15283 non-null  int64
 2   Month                              15283 non-null  int64
 3   Unit                               15283 non-null  object
 4   Animal                             15283 non-null  object
 5   Count                              15066 non-null  object
 6   Commercial_Or_Federally_Inspected  15283 non-null  object
 7   Type_Of_Meat                       15283 non-null  object
dtypes: int64(2), object(6)
memory usage: 955.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9348 entries, 0 to 9347
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               9348 non-null   object
 1   Year                               9348 non-null   int64
 2   Month                              9348 non-null   int64
 3   Unit                               9348 non-null   object
 4   Animal                             9348 non-null   object
 5   Weight                             9348 non-null   object
 6   Commercial_Or_Federally_Inspected  9348 non-null   object
 7   Live_Or_Dressed                    9348 non-null   object
 8   Type_Of_Meat                       9348 non-null   object
dtypes: int64(2), object(7)
memory usage: 657.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133345 entries, 0 to 133344
Data columns (total 34 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   YearStart                   133345 non-null  int64
 1   YearEnd                     133345 non-null  int64
 2   LocationAbbr                133345 non-null  object
 3   LocationDesc                133345 non-null  object
 4   Datasource                  133345 non-null  object
 5   Class                       133345 non-null  object
 6   Topic                       133345 non-null  object
 7   Question                    133345 non-null  object
 8   Data_Value_Unit             0 non-null       float64
 9   Data_Value_Type             133345 non-null  object
 10  Data_Value                  113474 non-null  float64
 11  Data_Value_Alt              113474 non-null  float64
 12  Data_Value_Footnote_Symbol  19871 non-null   object
 13  Data_Value_Footnote         19871 non-null   object
 14  Low_Confidence_Limit        113474 non-null  float64
 15  High_Confidence_Limit       113474 non-null  float64
 16  Sample_Size                 113474 non-null  float64
 17  Total                       6194 non-null    object
 18  Age(years)                  19980 non-null   object
 19  Education                   13320 non-null   object
 20  Gender                      12388 non-null   object
 21  Grade                       11456 non-null   object
 22  Income                      23310 non-null   object
 23  Race/Ethnicity              46688 non-null   object
 24  GeoLocation                 130601 non-null  object
 25  ClassID                     133345 non-null  object
 26  TopicID                     133345 non-null  object

{'economic': None,
 'commodities': None,
 'stocks': None,
 'stock_descr': None,
 'meat_storage': None,
 'meat_production': None,
 'meat_slaughter_weights': None,
 'meat_slaughter_counts': None,
 'nutrition': None}

## Cleaning
Removing NA, reformatting, etc.

The data about economics trends is particularly useful for finding the
unemployment in the states with highest meat production, etc. Data about
commodities can tell us how the price of meat corresponds to meat production,
although this veers more into question 1.

Data about meat production is of course essential as well. Some supplementary
insights can be found in slaughter weights and counts since that directly
relates to the rate of meat production, as well as meat storage since more meat
that stored means less meat is needed to be produced. Some of this info may be
redundant, but it's good to not remove too much data at once.

In [10]:
# only keep useful datasets
useful_dfs = [
    "economic", "commodities", "meat_storage", "meat_production",
    "meat_slaughter_weights", "meat_slaughter_counts"
]
dfs = {k: dfs[k] for k in useful_dfs}

In [ ]:
# remove na values
dfs.isna()